.imgmoveminimal{
    height: 400px;
    object-fit: cover;
    object-position: 50% 50%;
}

.imgmovemaximal{
    height: 400px;
    object-fit: cover;
    object-position: 80% 80%;
}

.imgmovemiddle{
    height: 400px;
    object-fit: cover;
    object-position: 70% 70%;
}

body {background-color: lightgray;}

.carprint{
    background-image: url("../resources/carprint.png");
    height: 63px;
    flex: 0 0 100%;
    display: flex;
}

.bordered {
    background-color: lightgray;
    border-style: dashed;
    border-color: #212529;
    border-width: 3px;
}